body {
	background-color: $backgroundColor;
	font-family: $fontFamilyInter;
	font-size: $sixteenPixels;
	color: $fontColorLight;
  }
  * {
	box-sizing: border-box;
  }
  .title-medium {
	font-weight: $dark;
  }
  ul {
	list-style-type: none;
	margin: 0;
	padding: $tenPixels $twentyTwoPixels;
  }
  ul > li {
	margin-top: $tenPixels;
	margin-bottom: $tenPixels;
  }
  
  a {
	text-decoration: none;
	color: $fontColorLight;
  }

  p {
	//   white-space:pre-wrap;
  }
  .content{
	&-flex {
		margin: 0rem $tenPercentage;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		width: min-content;
	}
	&-flex-items {
		margin: $tenPixels $eighteenPixels;
		background-color: $outerRectangleColor;
		border-radius: $fivePixels;
		filter: $dropShadow;
	}
	&-flex-items-content {
		background-color: $white;
		border-radius: $fivePixels;
		filter: $dropShadow;
	}
	// &-flex-heading {

	// }
  }

  .layout-one {
	min-height: $oneSeventyPixels;
	width: $nineFourtyFourPixels;
	padding: $sixteenPixels $sixteenPixels;
	&-content {
		padding: $onePixel $sixteenPixels;
		margin: $sixteenPixels $sixteenPixels;
	}
	
  }

  .layout-two {
	  height: $twoEightyFivePixels;
	  width: $fourFiftyFourPixels;
	  padding: $sixteenPixels $sixteenPixels;
	  &-content {
		  min-height: $twoHundredPixels;
	  }
  }

  .layout-three {
	  height: $twoEighteenPixels;
	  width: $nineFourtyFourPixels;
	  padding: $sixteenPixels $sixteenPixels;
		&-flex {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;
		}

		&-flex-item {
			min-width: $fourTwentyFourPixels;
			min-height: $oneThirtyTwoPixels;
		}
  }

  .layout-four {
	  height: $fourThirtyPixels;
	  width: $nineFourtyFourPixels;
	  padding: $sixteenPixels $sixteenPixels;
	  &-flex {
		height: $threeSixtyEightPixels;
		width: $nineTwelvePixels;
		margin-top: $thirtyTwoPixels;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-content: flex-start;
	  }

	  &-flex-item {
		width: $fourFourtyPixels;
		height: $sixtyTwoPixels;
		margin-bottom: $twentyEightPixels;
		text-align: center;
		padding: $twentyPixels 0rem;
	  }
  }