.layout-one {
    display: flex;
    flex-direction: row;
    height: 100%;
    
    &-image-layout {
        background-image: url('../images/bg.jpg');
        background-size: cover;
        color: $fontColorDark;
        width: 50vw;
    }
    &-cover-heading {
        font-size: $fiftySevenPixels;
        padding: $tenPixels $tenPixels;
        text-align: center;
    }
    &-content-heading {
        font-size: $fiftySevenPixels;
    }
    &-content {
        background-color: $tileColor;
        padding: $tenPixels $tenPixels;
        margin-right: 10px;
        width: 60vw;
    }
    &-content-data {
        text-align: center;
        background-color: orange;
    }
    .name-label {
        font-weight: $dark;
        display: inline-block;
        width: $twoHundredPixels;
    }
}