//Import font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');


//View heights
$eightyVH:  80vh;
$eightyFiveVH: 85vh;

//General sizes
$onePixel: 0.0625rem;
$twoPixels: 0.125rem;
$fivePixels: 0.3125rem;
$tenPixels: 0.625rem;
$fourteenPixels: 0.875rem;
$sixteenPixels: 1rem;
$twentyPixels: 1.25rem;
$fiftySevenPixels: 3.5625rem;
$eightyPixels: 5rem;
$oneFifteeenPixels: 7.1875rem;
$twoHundredPixels: 12.5rem;
$minusFourPixels: -0.25rem;

//Font colors
$fontFamilyInter: 'Inter';
$fontColorLight: #283747;
$fontColorDark: #d6d6d6;

//Font weight
$light:200;
$medium:300;
$strong:400;
$dark: 500; 

//Box shadows
$boxShadow: inset 0 $fiftySevenPixels $fiftySevenPixels $minusFourPixels rgb(12, 12, 12);
//StartMenu
$startMenuTemplateColumns: repeat(1, 6fr 3fr 4fr 3fr);
$gridGap: $fivePixels; //5px
$gridAutoRows: minmax($oneFifteeenPixels, auto);
$tileColor: rgb(221, 221, 221);
